.cont-air{
    display: flex;
}
.c{
    display: block;
}
.cont-air-region{
    display: flex;
}
@media (max-width: 800px) {
    .cont-air{
        display: block;
    }
    .cont-air-region{
        display: block;
    }
    .th, td {
        border: 1px solid #ddd;
        padding: 0px;
        text-align: center;
        font-size: 10px;
    }
}