/* background: -webkit-linear-gradient(90deg, #6462df,#453d6c,#343736);
background: linear-gradient(90deg, #6462df,#453d6c,#343736); */                                             
body {
  padding-top: 1%;
  background: -webkit-linear-gradient(90deg, #c6c9d7,#7c9b95,#496383);
 background: linear-gradient(90deg, #c6c9d7,#7c9b95,#496383);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             

}
.container {
  width: 100%;
  margin-top: 0%;
  display: flex;
  position: relative;
}
input {
  display: none;
}
.tab-name {
  color: white;
  height: 40px;
  width: 300px;
  padding: 15px 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  border-radius: 5%;
  margin-left: 5%;

}
input:checked + label .tab-name {
  background: #496383;
  color: black;
  font-size: 18px;
  font-weight: 800;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-name:hover{
  background-color:#5b7a74;
}
.tab-content {
  position: absolute;
  top: 50px;
  left: 0;
  color: black;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
  height: auto;
}
input:checked + label .tab-content {
  opacity: 1;
  z-index: 1;
}